# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\kiran\anaconda3\lib\site-packages (4.9.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\kiran\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\users\kiran\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\kiran\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\kiran\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: sniffio in c:\users\kiran\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\kiran\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\kiran\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\kiran\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\kiran\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: async-generator>=1.9 in c:\users\kiran\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\kiran\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sortedcontainers in c:\users\kiran\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\kiran\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\kiran\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\kiran\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\kiran\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

from selenium.webdriver.common.by import By
import time

In [3]:
# connect to the webdriver
driver=webdriver.Chrome(r'‪chromedriver.exe')

In [4]:
# opening the naukri page on automated chrome browser
driver.get(' https://www.naukri.com/')

In [5]:
# entering designation as required in the question -
designation =driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Analyst')

In [6]:
# fetching a location
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Banglore')

In [7]:
# clicking on serach button
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [9]:
# scraping 10 job result 
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    #scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    

#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
                                
#scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [10]:
# checking length
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [11]:
# making dataframe
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analyst,Bangalore/Bengaluru,ANZ,6-9 Yrs
1,Data Analyst,Bangalore/Bengaluru,ANZ,6-10 Yrs
2,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
3,Data Analyst - FinTech,"Mumbai, Hyderabad/Secunderabad, Pune, Ahmedaba...",Primo Hiring,1-2 Yrs
4,Data Analyst - FinTech,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Primo Hiring,1-2 Yrs
5,Data Analyst - FinTech,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Primo Hiring,1-2 Yrs
6,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
7,Data Analyst,Bangalore/Bengaluru,S&P Global Inc.,1-4 Yrs
8,Banking Data Analyst,"Hyderabad/Secunderabad, Bangalore/Bengaluru, G...",Coforge,5-10 Yrs
9,Data Analyst,Bangalore/Bengaluru,Dpdzero,1-3 Yrs

# Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.

In [128]:
# connect to the webdriver
driver=webdriver.Chrome(r'‪chromedriver.exe')

In [129]:
# opening the naukri page on automated chrome browser
driver.get(' https://www.naukri.com/ ')

In [130]:
# entering designation as required in the question -
designation =driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [131]:
# fetching a location
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Banglore')

In [132]:
# clicking on serach button
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [147]:
# scraping 10 job result 
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    #scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//i[@class="fleft placeholder-icons naukicon naukicon-srp-location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    


                                
#scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//i[@class="fleft placeholder-icons naukicon naukicon-srp-experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [148]:
# checking length
print(len(job_title),len(job_location),len(experience_required))

50 50 50

In [146]:
# making dataframe
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Experience':experience_required})
df

                                                Title Location Experience
0                   Manager, Data Solution Specialist
1                                  Data Scientist_NLP
2                     Machine Learning (AI) Architect
3                         Data Science Senior Analyst
4                                  Research Scientist
5                                      Data Scientist
6   Permanent Opportunity For Data scientist with AWS
7                                      Data Scientist
8                                      R&D Specialist
9                                Data Science Analyst
10                                     Data Scientist
11                  Manager, Data Solution Specialist
12                                 Data Scientist_NLP
13                    Machine Learning (AI) Architect
14                        Data Science Senior Analyst
15                                 Research Scientist
16                                     Data Scientist
17  Permanent Opportunity For Data scientist with AWS
18                                     Data Scientist
19                                     R&D Specialist
20                                     Data Scientist
21                  Manager, Data Solution Specialist
22                                 Data Scientist_NLP
23                    Machine Learning (AI) Architect
24                        Data Science Senior Analyst
25                                 Research Scientist
26                                     Data Scientist
27  Permanent Opportunity For Data scientist with AWS
28                                     Data Scientist
29                                     R&D Specialist
30                                     Data Scientist
31                  Manager, Data Solution Specialist
32                                 Data Scientist_NLP
33                    Machine Learning (AI) Architect
34                        Data Science Senior Analyst
35                                 Research Scientist
36                                     Data Scientist
37  Permanent Opportunity For Data scientist with AWS
38                                     Data Scientist
39                                     R&D Specialist

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
ASSIGNMENT 2
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scraped data

In [3]:
# connect to the webdriver
driver=webdriver.Chrome(r'‪chromedriver.exe')

In [4]:
# opening the naukri page on automated chrome browser
driver.get(' https://www.naukri.com/ ')

In [5]:
# entering designation as required in the question -
designation =driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Scientist')

In [6]:
# clicking on serach button
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [7]:
# scraping 10 job result 
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    #scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    

#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
                                
#scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [8]:
# checking length
print(len(job_title),len(loc),len(comp_name),len(exp_req))

NameError: name 'job_title' is not defined

In [11]:
#scraping required data
job_title=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
job=[]
for i in job_title:
    job.append(i.text)
job

['Data Scientist',
 'Manager, Data Solution Specialist',
 'Data Scientist_NLP',
 'Data Science Senior Analyst',
 'Research Scientist',
 'Machine Learning (AI) Architect',
 'Data Science Analyst',
 'Data Science Senior Analyst',
 'Permanent Opportunity For Data scientist with AWS',
 'Data Scientist',
 'R&D Specialist',
 'Data Science Analyst',
 'Data Scientist',
 'Data Scientist, Engineering at Google',
 'Data Scientist',
 'Team Lead/Consultant-Marketing and Customer Analytics',
 'Client Engineering - Data Scientist',
 'Data Scientist- Bangalore',
 'Analytics Specialist - Artificial Intelligence Innovation',
 'Analytics Senior Analyst - Artificial Intelligence Innovation']

In [12]:
comp_name=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
company=[]
for i in comp_name:
    company.append(i.text)
    
company

['Infogain',
 'Pfizer',
 'Fractal Analytics',
 'Accenture',
 'Siemens',
 'Persistent',
 'Accenture',
 'Accenture',
 'Deloitte',
 'Infosys',
 'Nokia',
 'Accenture',
 'IBM',
 'Blob Infotech',
 'Tech Mahindra',
 'Accenture',
 'IBM',
 'Trigent Software',
 'Accenture',
 'Accenture']

In [15]:
exp_req=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
experience=[]
for i in exp_req:
    experience.append(i.text)
experience

['3-6 Yrs',
 '3-5 Yrs',
 '5-11 Yrs',
 '5-8 Yrs',
 '2-5 Yrs',
 '5-12 Yrs',
 '3-5 Yrs',
 '5-8 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '5-6 Yrs',
 '3-5 Yrs',
 '7-12 Yrs',
 '2-7 Yrs',
 '7-12 Yrs',
 '7-11 Yrs',
 '10-12 Yrs',
 '3-6 Yrs',
 '7-11 Yrs',
 '5-8 Yrs']

In [16]:
loc=driver.find_elements(By.XPATH,'//LI[@class="fleft br2 placeHolderLi location"]')
location=[]
for i in loc:
    location.append(i.text)
    
location

['Hybrid - Pune, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Mumbai, New Delhi, Bangalore/Bengaluru',
 'Mumbai, Pune, Chennai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Mumbai',
 'Mumbai',
 'Hybrid - Chennai, Coimbatore, Bangalore/Bengaluru, Hyderabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Temp. WFH - Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Pune',
 'Mumbai',
 'Mumbai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [17]:
# checking length
print(len(job_title),len(loc),len(comp_name),len(exp_req))

20 20 20 20

In [18]:
#creating DataFrame for the scraped data
import pandas as pd
df3=pd.DataFrame()
df3["JOB_TITLE"]=job[:10]
df3["COMPANY_NAME"]=company[:10]
df3["EXPERIENCE_REQUIRED"]=experience[:10]
df3["JOB_LOCATION"]=location[:10]
df3

,JOB_TITLE,COMPANY_NAME,EXPERIENCE_REQUIRED,JOB_LOCATION
0,Data Scientist,Infogain,3-6 Yrs,"Hybrid - Pune, Bangalore/Bengaluru, Delhi / NC..."
1,"Manager, Data Solution Specialist",Pfizer,3-5 Yrs,"Mumbai, New Delhi, Bangalore/Bengaluru"
2,Data Scientist_NLP,Fractal Analytics,5-11 Yrs,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga..."
3,Data Science Senior Analyst,Accenture,5-8 Yrs,Bangalore/Bengaluru
4,Research Scientist,Siemens,2-5 Yrs,Bangalore/Bengaluru
5,Machine Learning (AI) Architect,Persistent,5-12 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder..."
6,Data Science Analyst,Accenture,3-5 Yrs,Mumbai
7,Data Science Senior Analyst,Accenture,5-8 Yrs,Mumbai
8,Permanent Opportunity For Data scientist with AWS,Deloitte,3-8 Yrs,"Hybrid - Chennai, Coimbatore, Bangalore/Bengal..."
9,Data Scientist,Infosys,3-8 Yrs,Bangalore/Bengaluru

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
ASSIGNMENT 2
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scraped data.

In [121]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [122]:
# connect to the webdriver
driver=webdriver.Chrome(r'‪chromedriver.exe')

In [123]:
# opening flipkart page
driver.get('https://www.flipkart.com/')

In [124]:
#remove the pop up page
pop_up_page =driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
pop_up_page.click()
time.sleep(3)

In [125]:
#search the “sunglasses” and click search button 

search_product = driver.find_element(By.CLASS_NAME,'_3704LK')
search_product.send_keys('sunglasses')

In [126]:
#click on the search buttone

search_button =driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()
time.sleep(5)

In [146]:
Brand = []
Product_Description = []
Price= []

In [184]:
for i in range(3):
    brand = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in brand:Brand.append(i.text)
    
    product_des = driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in product_des:Product_Description.append(i.text)    
    
    price = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in price:Price.append(i.text)
        
    time.sleep(3)        
        
        
nxt_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']") #scraping the list of buttons from the page
nxt_button.click()

In [185]:
print(len(Brand),len(Product_Description),len(Price))

1960 1911 1960

In [187]:
df5=pd.DataFrame()
df5["BRAND"]=Brand[:100]
df5["PRODUCT_DESCRIPTION"]=Product_Description[:100]
df5["PRICE"]=Price[:100]
df5

             BRAND                                PRODUCT_DESCRIPTION PRICE
0           PIRASO              UV Protection Aviator Sunglasses (54)  ₹212
1         Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹479
2   kingsunglasses  by Lenskart Polarized, UV Protection Retro Squ...  ₹194
3    VINCENT CHASE      UV Protection Wayfarer Sunglasses (Free Size)  ₹849
4         Fastrack            UV Protection Butterfly Sunglasses (60)  ₹549
..             ...                                                ...   ...
95   VINCENT CHASE          UV Protection Rectangular Sunglasses (55)  ₹509
96          PIRASO     Polarized, UV Protection Round Sunglasses (50)  ₹211
97      LIZA ANGEL      UV Protection Wayfarer Sunglasses (Free Size)  ₹199
98  kingsunglasses   UV Protection Rectangular Sunglasses (Free Size)  ₹242
99   VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...  ₹789

[100 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market 
place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [28]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [29]:
# connect to the webdriver
driver=webdriver.Chrome(r'‪chromedriver.exe')

In [30]:
#onpening the flipkart website on automated chrome window
driver.get('https://www.flipkart.com/')

In [31]:
#remove the pop up page
pop_up_page =driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
pop_up_page.click()

In [32]:
#search the “iphone 11” and click search button 

search_product = driver.find_element(By.CLASS_NAME,'_3704LK')
search_product.send_keys('iphone 11')

In [33]:
#click on the search button

search_button =driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()
time.sleep(2)

In [34]:
#lets select the first phone

click_first_phone =driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[1]")
click_first_phone.click()

In [27]:
# Rating = []
Review_summary = []
Full_review = []

rating = driver.find_elements(By.XPATH,'//div[@class="_2QKOHZ"]')
review = driver.find_elements(By.XPATH,'//div[@class="_2QKOHZ"]')
full_review = driver.find_elements(By.XPATH,'//div[@class="_3UAT2v _16PBlm"]')

#for page in range(0,3):
for i in rating:
    Rating.append(i.text)
for o in review:
    Review_summary.append(o.text)
for p in full_review:
    Full_review.append(p.text)    
    
df = pd.DataFrame({'Rating':rating,'Review_summary':review,'Full_review':full_review})

df

Empty DataFrame
Columns: [Rating, Review_summary, Full_review]
Index: []

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [210]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [216]:
# connect to the webdriver
driver=webdriver.Chrome(r'‪chromedriver.exe')

In [217]:
driver.get('https://www.flipkart.com/')
time.sleep(2)

In [218]:
pop_close = driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
pop_close.click()

In [219]:
search_item = driver.find_element(By.CLASS_NAME,"_3704LK")
search_item.send_keys("sneakers")
time.sleep(3)

In [220]:
click_search_button = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
click_search_button.click()
time.sleep(3)

In [221]:
Brand = []
Product_Description = []
Price = []

for i in range(3):
    
    brand = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    product_des = driver.find_elements(By.XPATH,"//div[@class='_2B099V']/a[1]")
    price = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
 


    for i in brand:
        Brand.append(i.text)
    for i in product_des:
        Product_Description.append(i.text)
    for i in price :
        Price.append(i.text)
    
time.sleep(3)

nxt_button = driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
nxt_button.click()

In [222]:
print(len(Brand),len(Product_Description),len(Price))

120 120 120

In [223]:
df = pd.DataFrame({'Brand':Brand,'Product_Description':Product_Description,'Price':Price})

df[0:100]

       Brand                                Product_Description Price
0   RapidBox                                   Sneakers For Men  ₹579
1   RapidBox                                   Sneakers For Men  ₹699
2       aadi  Synthetic| Lightweight| Premiun| Comfort| Summ...  ₹269
3      BIRDE  Premium Sports Shoes For Men Pack Of 2 Sneaker...  ₹449
4      BIRDE      Combo Pack Of 2 Casual Shoes Sneakers For Men  ₹449
..       ...                                                ...   ...
95    Labbin                                   Sneakers For Men  ₹379
96     Sparx                            SD-323 Sneakers For Men  ₹845
97  Shuzer68  Stylish Trendy Cool Light Weight Premium Sneak...  ₹623
98     BIRDE      Combo Pack of 2 Casual Shoes Sneakers For Men  ₹449
99    BRUTON               Modern Trendy Shoes Sneakers For Men  ₹269

[100 rows x 3 columns]

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then 
set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [50]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [51]:
# connect to the webdriver
driver=webdriver.Chrome(r'‪chromedriver.exe')

In [52]:
driver.get('https://www.amazon.in/')
time.sleep(2)

In [53]:
search_item = driver.find_element(By.XPATH,"//input[@class='nav-input nav-progressive-attribute']")
search_item.send_keys("laptop")

In [54]:
click_search_button = driver.find_element(By.XPATH,"//input[@id='nav-search-submit-button']")
click_search_button.click()
time.sleep(3)

In [55]:
#scraping details of first 10 laptops for core i7 there title, ratings and price
title=[]
ratings=[]
price=[]
name=driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
rat=driver.find_elements(By.XPATH,"//span[@class='a-icon-alt']")
pr=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in range(10):
    title.append(name[i].text)
    ratings.append(rat[i].text)
    price.append(pr[i].text)
print(title)
print(ratings)
print(price)

['Lenovo IdeaPad Gaming 3 Intel Core i5 12th Gen 15.6" (39.62cm) FHD IPS Gaming Laptop (16GB/512GB SDD/4GB NVIDIA RTX 3050/120Hz/Win11/Office 2021/Backlit/3months Game Pass/Onyx Grey/2.32Kg), 82S900R6IN', 'Acer Aspire 5 Gaming Laptop Intel Core i5 12th gen (12-Cores) Processor (16 GB/512 GB SSD/Win11 Home/4GB Graphics/RTX 2050) A515-57G (15.6" FHD Display, 1.8 Kg)', 'Lenovo E41-55 AMD 14-inch HD 220 Nits Antiglare Thin and Light Laptop (Athlon Silver 3050U/8GB RAM/256 SSD/DOS/Integrated AMD Graphics/Grey/1 Year Onsite/1.59 kg)', 'Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11th Gen 15.6" (39.62cm) FHD Laptop (8GB/256GB SSD/Win 11/Office 2021/2 Year Warranty/3 Month Game Pass/Platinum Grey/1.7Kg), 81X800LCIN', 'HP 15s,11th Gen Intel Core i3-1115G4 8GB RAM/512GB SSD 15.6-inch(39.6 cm) Micro-Edge Anti-Glare FHD Laptop/Alexa Built-in/Win 11/Intel UHD Graphics/Dual Speakers/MS Office 2021/1.69 Kg, 15s-fq2673TU', 'Apple 2022 MacBook Air Laptop with M2 chip: 34.46 cm (13.6-inch) Liquid Retina Display, 8GB RAM, 256GB SSD Storage, Backlit Keyboard, 1080p FaceTime HD Camera. Works with iPhone/iPad; Silver', 'HP 15s, 11th Gen Intel Core i3 8GB RAM/1TB HDD+256 GB SSD 15.6-inches/39.6 cm FHD Laptop/Windows 11/Intel UHD Graphics/Dual Speakers/Alexa/MSO/Fast Charge/1.75 Kg, 15s-du3614TU', 'Lenovo ThinkBook 15 Intel Core i5 1235U 15.6" (39.62cm) FHD 220 Nits Antiglare Thin and Light Laptop (16GB/1TB SSD/Windows 11 Home/MS Office/Mineral Grey/1.7 Kg/Backlit), 21DJA0D9IH', 'Dell Vostro 3420 Laptop,12th Gen Intel Core i3-1215U, 8GB & 512GB SSD, 14.0" (35.56Cms) FHD WVA AG 250 nits, Win11+MSO\'21, 15 Month McAfee, Black, 1.48 KGs', 'HP 15s, 12th Gen Intel Core i5 8GB RAM/512GB SSD 15.6-inch(39.6 cm) Micro-Edge Anti-Glare FHD Laptop/Intel Iris Xe Graphics/Alexa/Dual Speakers/Win 11/MSO 2021/1.41 Kg, 15s- fq5111TU']
['', '', '', '', '', '', '', '', '', '']
['84,990', '63,990', '20,999', '39,000', '40,990', '1,06,990', '40,990', '66,990', '42,990', '54,990']

In [58]:
print(len(title),len(ratings),len(price))

10 10 10

In [56]:
df=pd.DataFrame(list(zip(title[0:10],ratings[0:10],price[0:10])),columns=["Title","Ratings","Price"])
df

                                               Title Ratings     Price
0  Lenovo IdeaPad Gaming 3 Intel Core i5 12th Gen...            84,990
1  Acer Aspire 5 Gaming Laptop Intel Core i5 12th...            63,990
2  Lenovo E41-55 AMD 14-inch HD 220 Nits Antiglar...            20,999
3  Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...            39,000
4  HP 15s,11th Gen Intel Core i3-1115G4 8GB RAM/5...            40,990
5  Apple 2022 MacBook Air Laptop with M2 chip: 34...          1,06,990
6  HP 15s, 11th Gen Intel Core i3 8GB RAM/1TB HDD...            40,990
7  Lenovo ThinkBook 15 Intel Core i5 1235U 15.6" ...            66,990
8  Dell Vostro 3420 Laptop,12th Gen Intel Core i3...            42,990
9  HP 15s, 12th Gen Intel Core i5 8GB RAM/512GB S...            54,990

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [66]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [67]:
# connect to the webdriver
driver=webdriver.Chrome(r'‪chromedriver.exe')

In [68]:
# opening the required web page
driver.get('https://www.azquotes.com/')

In [69]:
search_item=driver.find_element(By.XPATH,'//a[@href="/top_quotes.html"]')
search_item.click()

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, 
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [101]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [102]:
# connect to the webdriver
driver=webdriver.Chrome(r'‪chromedriver.exe')

In [103]:
# opening the required web page
driver.get('https://www.jagranjosh.com/')

In [104]:
search_gk=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a')
search_gk.click()

In [111]:
search_PM=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
search_PM.click()

# Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. 
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [78]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [79]:
# connect to the webdriver
driver=webdriver.Chrome(r'‪chromedriver.exe')

In [80]:
# opening the required web page
driver.get('https://www.motor1.com/')

In [83]:
menu=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[1]/div')
menu.click()

In [89]:
search_item = driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/input')
search_item.send_keys('50 most expensive cars in the word')